<footer class="footer">
  <a class="footer__logo" href="index.html">
    <img src="assets/img/6364336_0015_2.png" alt="Паллада" width="100" height="100">
  </a>

  <div class="container">
    <div class="footer__cols">
      <div class="footer__col">
        <div class="footer__col-title">Направления деятельности</div>
        <ul>
          <li><a href="direction-restavratsiya.html">Реставрация</a></li>
          <li><a href="direction-metlahskaya-plitka.html">Метлахская плитка</a></li>
          <li><a href="direction-cherepitsa.html">Черепица</a></li>
          <li><a href="direction-fasadnye-materialy.html">Фасадные отделочные материалы</a></li>
          <li><a href="direction-pechi-i-kaminy.html">Печи и камины</a></li>
          <li><a href="#">Панно</a></li>
          <li><a href="direction-tserkovnaya-keramika.html">Церковная керамика</a></li>
          <li><a href="#">Другие услуги</a></li>
        </ul>
      </div>

      <div class="footer__col">
        <div class="footer__col-title">О компании</div>
        <ul>
          <li><a href="company.html">История и философия</a></li>
          <li><a href="company.html">Миссия и ценности</a></li>
          <li><a href="company.html">Команда</a></li>
          <li><a href="company.html">Лицензии и допуски</a></li>
        </ul>
      </div>

      <div class="footer__col">
        <div class="footer__col-title">Процессы</div>
        <ul>
          <li><a href="process.html">Что такое керамика ручной работы</a></li>
          <li><a href="process.html">Технология производства</a></li>
          <li><a href="process.html">Этапы производства</a></li>
        </ul>
      </div>

      <div class="footer__col">
        <div class="footer__col-title">Научная деятельность</div>
        <ul>
          <li><a href="science.html">Музей «Керамарх»</a></li>
          <li><a href="science.html">Научно-исследовательская деятельность</a></li>
          <li><a href="science.html">Издательская деятельность</a></li>
          <li><a href="science.html">Сотрудничество с галереей «573»</a></li>
          <li><a href="science.html">Образование</a></li>
        </ul>
      </div>

      <div class="footer__col">
        <div class="footer__col-title"><a href="news.html">Новости</a></div>
        <ul>
          <li><a href="news.html">Отметки в СМИ</a></li>
        </ul>
      </div>

      <div class="footer__col footer__col--last">
        <div class="footer__col-title"><a href="portfolio.html">Портфолио</a></div>
        <div class="footer__col-title"><a href="contacts.html">Контакты</a></div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <span>© 2026 ООО «Паллада». Все права защищены.</span>
      <a href="#">Политика конфиденциальности</a>
    </div>
  </div>
</footer>
