<header class="header">
  <div class="container header__inner">
    <nav class="header__nav header__nav--left">
      <a href="company.html">О компании</a>
      <a href="#napravleniya">Направления</a>
      <a href="process.html">Процессы</a>
      <a href="portfolio.html">Портфолио</a>
    </nav>
    <a class="header__logo" href="index.html">
      <img src="assets/img/6364336_0015_2.png" alt="Паллада" width="80" height="80">
    </a>
    <nav class="header__nav header__nav--right">
      <a href="science.html">Научная деятельность</a>
      <a href="news.html">Новости</a>
      <a href="contacts.html">Контакты</a>
      <a class="header__phone" href="tel:88003333401">8 (800) 333-34-01</a>
    </nav>
  </div>
</header>
